<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pi Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha254-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>

function hide_all(pin) {
            $('#led_' + pin).parent('.custom-control').hide();
            $('#pull_up_' + pin).parent('.custom-control').hide();
            $('#pin_' + pin + '_value').hide();
            $('#read_' + pin).hide();
        }
function show_led(pin) {
    $('#led_' + pin).parent('.custom-control').show();
}
function show_button(pin) {
    $('#pull_up_' + pin).parent('.custom-control').show();
    $('#pin_' + pin + '_value').show();
    $('#read_' + pin).show();
}
function show_all(pin) {
    show_led(pin);
    show_button(pin);
}
function check_pin(pin) {
    $.ajax('/' + pin + '/info/', {
        'beforeSend': function (){
            hide_all(pin);
        },
        'success': function(data) {
            if(data.data.mode == null) {
                $('#pull_up_' + pin).prop('indeterminate', true);
                show_all(data.pin);
            } else if(data.data.mode === 'output') {
                show_led(data.pin);
            } else if(data.data.mode === 'input') {
                if (data.data.pull_up) {
                    $('#pull_up_' + data.pin).attr('checked', 'checked');
                } else {
                    $('#pull_up_' + data.pin).removeAttr('checked');
                }
                show_button(data.pin);
            }
        },
    });
}
function led_change(pin, on) {
    let action = 'on';
    if (!on) {
        action = 'off';
    }
    $.ajax('/' + pin + '/' + action + '/', {
        'beforeSend': function (){
            $('#led_' + pin).attr('disabled', 'disabled');
        },
        'success': function() {
            check_pin(pin);
        },
        'complete': function () {
            $('#led_' + pin).removeAttr('disabled');
        }
    });
}
function pull_change(pin, up) {
    let action = 'pull_up';
    if (!up) {
        action = 'pull_down';
    }
    $.ajax('/' + pin + '/' + action + '/', {
        'beforeSend': function (){
            $('#pull_up_' + pin).attr('disabled', 'disabled');
        },
        'success': function() {
            check_pin(pin);
        },
        'complete': function () {
            $('#pull_up_' + pin).removeAttr('disabled');
        }
    });
}
function read(pin) {
    $.ajax('/' + pin + '/read/', {
        'beforeSend': function (){
            $('#read_' + pin).attr('disabled', 'disabled');
        },
        'success': function(data) {
            $('pin_' + data.pin + '_value').val(data.value);
            check_pin(pin);
        },
        'complete': function () {
            $('#read_' + pin).removeAttr('disabled');
        }
    });

}

$(document).ready(function (){
    $('input[type="checkbox"]').change(function (){
        let self = $(this);
        let pin = self.parents('tr[data-pin]').attr('data-pin');
        if(self.hasClass('led')){
            led_change(pin, self.prop('checked'));
        } else if(self.hasClass('pull_up')) {
            pull_change(pin, self.prop('checked'));
        }
    });
    $('button[type="button"]').change(function (){
        let self = $(this);
        let pin = self.parents('tr[data-pin]').attr('data-pin');
        read(pin);
    });
    $.each($('td[scope="row"]'), function (index, val){
        check_pin($(val).text());
    });
});

    </script>
</head>
<body>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">

    <table class="lead table table-dark">
        <tbody>
            <tr>
                <th scope="row">model</th>
                <td>{{ model }}</td>
            </tr>
            <tr>
                <th scope="row">manufacturer</th>
                <td>{{ manufacturer }}</td>
            </tr>
            <tr>
                <th scope="row">pcb_revision</th>
                <td>{{ pcb_revision }}</td>
            </tr>
            <tr>
                <th scope="row">released</th>
                <td>{{ released }}</td>
            </tr>
            <tr>
                <th scope="row">revision</th>
                <td>{{ revision }}</td>
            </tr>
            <tr>
                <th scope="row">soc</th>
                <td>{{ soc }}</td>
            </tr>
            <tr>
                <th scope="row">csi</th>
                <td>{{ csi }}</td>
            </tr>
            <tr>
                <th scope="row">dsi</th>
                <td>{{ dsi }}</td>
            </tr>
            <tr>
                <th scope="row">memory</th>
                <td>{{ memory }}</td>
            </tr>
            <tr>
                <th scope="row">storage</th>
                <td>{{ storage }}</td>
            </tr>
            <tr>
                <th scope="row">usb</th>
                <td>{{ usb }}</td>
            </tr>
            <tr>
                <th scope="row">ethernet</th>
                <td>{{ ethernet }}</td>
            </tr>
            <tr>
                <th scope="row">wifi</th>
                <td>{{ wifi }}</td>
            </tr>
            <tr>
                <th scope="row">bluetooth</th>
                <td>{{ bluetooth }}</td>
            </tr>
        </tbody>
    </table>

    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">

    <table class="lead table">
        <thead>
            <tr>
                <th scope="col">Pin</th>
                <th scope="col">Name</th>
                <th scope="col">Pull Up</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for pin in pins %}<tr data-pin="{{ pin.pin }}">
                <td scope="row">{{ pin.pin }}</td>
                <td>{{ pin.function }}</td>
                <td>{{ pin.pull_up }}</td>
                <td id="actions_pin_{{ pin.pin }}">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input led" id="led_{{ pin.pin }}">
                      <label class="custom-control-label" for="led_{{ pin.pin }}">Led On</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input pull_up" id="pull_up_{{ pin.pin }}">
                      <label class="custom-control-label" for="pull_up_{{ pin.pin }}">Pull up</label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                      <label for="pin_{{ pin.pin }}_value" class="sr-only">Value</label>
                      <input disabled="disabled" type="number" class="form-control pin-value"
                             id="pin_{{ pin.pin }}_value" placeholder="Value">
                    </div>
                    <button type="button" class="btn btn-primary btn-sm read" id="read_{{ pin.pin }}">Read</button>
                </td>
            </tr>{% endfor %}
        </tbody>
    </table>

    </div>
  </div>
</div>

</body>
</html>